body {
    background-color: #fcf9e5;
   }
header{ 
    height: 50px;
    background: sienna;
    border-radius: 15px; 
    text-align: center;
    font-family: Verdana;
}
header h1{
   color:khaki; 
   padding-top: 3px;
}
section {
    padding: 0 25 15 25;
    border-radius: 15px;
    background-color: khaki;
}
section h2{
    padding-top: 15px;
    text-align: center;
    font-family: Verdana;
    color: sienna;
    margin-bottom: 0;
}
img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}
a:hover img {
    filter: saturate(0);
}
.box{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.primeraytercera{
    padding-left: 2vw;
    padding-right: 2vw;
    flex-grow: 1;
    min-width: 0;
    min-height: auto;
}
.segunda{
    padding-left: 2vw;
    padding-right: 2vw;
    flex-grow: 1.6;
    min-width: 0;
    min-height: auto;
}
.h3Box{
    text-align: center;
    font-family: Verdana;
 }
.h5Box{
    text-align: center;
    font-family: Verdana;
    margin: 8px;
}
