body {
    background: repeating-linear-gradient(-45deg, rgb(214, 214, 214), rgb(214, 214, 214), rgb(200, 200, 200) 5px, rgb(200, 200, 200) 10px);
}
header{ 
    height: 50px;
    background: rgb(0, 0, 0);
    border-radius: 15px; 
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
header h1{
   color:rgb(255, 255, 255); 
   padding-top: 3px;
}
section {
    padding: 0 25 15 25;
    border-radius: 15px;
    background-color: rgb(185, 185, 185);
}
section h2{
    padding-top: 15px;
    text-align: center;
    font-family: Verdana;
    color: rgb(0, 0, 0);
    margin-bottom: 0;
}
img {
    border-radius: 15px;
    width: 100%;
    height: auto;
}
a:hover img {
    filter: saturate(0);
}
.box{
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}
.primeraytercera{
    padding-left: 2vw;
    padding-right: 2vw;
    flex-grow: 1;
    min-width: 0;
    min-height: auto;
}
.segunda{
    padding-left: 2vw;
    padding-right: 2vw;
    flex-grow: 1.6;
    min-width: 0;
    min-height: auto;
}
.h3Box{
    text-align: center;
    font-family: Verdana;
    color: rgb(37, 37, 37);
 }
.h5Box{
    text-align: center;
    font-family: Verdana;
    margin: 8px;
    color: rgb(37, 37, 37);
}
